/*========================
Declare variables for page
=========================*/
:root {
  /*colour pallette*/
  --page-background-colour: #eef8ff; /*offwhite*/
  --section-background-colour: #424874; /*purple*/
  --navbar-colour: #20a39e; /*seagreen*/
  --box-colour: #f8d87f; /*sandy yellow*/
  --header-text-colour: #eef8ff; /*offwhite*/
  --page-text-colour: #000; /*black*/

  /*font types*/
  --header-font: "Chivo", sans-serif;
  --text-font: "Roboto", sans-serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--page-background, white);
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*reset default font - never shall Time New Roman be seen agan!*/

h1,
h3,
h5,
p,
li,
code {
  font-family: "Trebuchet MS", sans-serif;
}

code {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/*================
Layout
=================*/
body {
  display: flex;
  flex-direction: column;
}

#top {
  margin: 0;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--section-background-colour, purple),
    var(--navbar-colour, teal)
  );
}

nav {
  background-color: var(--navbar-colour, teal);
  padding: 1rem;
  border-bottom: 3px solid black;
}

main {
  background-color: var(--page-background-colour, white);
}

.container {
  position: relative;
}

section {
  display: flex;
  background-color: var(--section-background-colour, purple);
  border-bottom: 3px solid black;
}

/*================
Nav Menu Bar
=================*/

nav .nav-bar {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
}

nav .nav-bar .menu-button {
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

nav .nav-bar .menu-button:focus {
  text-decoration: underline;
  text-decoration-color: var(--section-background-colour, purple);
}

nav .nav-bar .menu-button:hover {
  text-decoration: underline;
}

nav .nav-bar .menu-button:active {
  text-decoration: underline;
  text-decoration-color: var(--section-background-colour, purple);
}

/*================
Extra Font Styling
=================*/

#logo {
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding: 1rem;
  margin: 1rem;
  position: absolute;
  left: 0;
  color: var(--heading-text-colour, white);
  text-shadow: 2px 2px 5px black;
}

h1 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
}

h3 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 2rem;
  line-height: 3rem;
}

h5 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

p,
li {
  font-family: var(--text-font, Arial, sans-serif);
  font-size: 1rem;
  line-height: 1.5rem;
}

.mini-header {
  font-weight: bold;
}
/*================
Section Styling
=================*/

section header {
  flex: 1;
  align-self: flex-start;
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
  text-align: center;
  padding: 1rem;
}

section .section-content {
  flex: 3;
  background-color: var(--page-background-colour, white);
  color: var(--page-text-colour, black);
  border-left: 0.25rem solid black;
  padding: 1rem;
}

section .section-content-list {
  margin: 0.5rem 0;
  list-style: square;
}

section .section-content-non-list {
  list-style: none;
  margin: 0.5rem 0;
}

section .section-content-non-list .code-keyword-sublist {
  list-style: none;
}

section .section-content-non-list .code-keyword-sublist li {
  width: 50%;
  margin-bottom: 0.2rem;
  background: linear-gradient(
    90deg,
    var(--box-colour, yellow),
    var(--page-background-colour, white)
  );
}

section .subsection {
  padding-left: 2rem;
}

section .subsection .subsection-header {
  background: linear-gradient(
    90deg,
    var(--section-background-colour, purple),
    var(--page-background-colour, white)
  );
  border-left: solid 3px black;
  padding-left: 0.5rem;
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 2px black;
}

section .subsection .subsection-content {
  padding: 0.5rem;
}

section .subsection .subsection-content .subsection-content-list {
  list-style: none;
  margin-top: 1rem;
}

section .code-example-box {
  margin: 1rem;
  background: linear-gradient(
    90deg,
    var(--box-colour, yellow),
    var(--page-background-colour, white)
  );
  padding: 0.5rem;
}

section .code-example-box .comment-code {
  opacity: 0.7;
  font-style: italic;
}

/*=====
Footer
======*/
footer {
  background: linear-gradient(
    180deg,
    var(--section-background-colour, purple),
    var(--navbar-colour, teal)
  );
  color: var(--header-text-colour, white);
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
}

#allaboutme {
  text-align: center;
}

/*Link styles*/

#allaboutme a {
  padding: 0 0.25rem;
  font-size: 1.25rem;
}

footer a:link {
  color: var(--page-text-colour, black);
}

footer a:visited {
  text-shadow: var(--header-text-colour, white) -1px -1px 3px;
  color: var(--section-background-colour, purple);
}

footer a:focus {
  text-shadow: var(--header-text-colour, white) 2px 2px 2px;
}

footer a:hover {
  text-shadow: var(--header-text-colour, white) 2px 2px 2px;
}

footer a:active {
  text-shadow: var(--header-text-colour, white) 2px 2px 2px,
    var(--header-text-colour, white) -2px -2px 2px;
  color: var(--page-text-colour, black);
}

/*================
The little touches
=================*/

/*Back to top*/
.backtotop {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.25rem;
  font-size: 2rem;
}
/*=============
Responsiveness
===============*/
/*Media queries for portable screen views - tablets and phones*/

@media screen and (max-width: 766px) {
  /*Layout - single column*/

  section {
    flex-direction: column;
    padding: 0.3rem;
  }

  section .section-content {
    flex: 1;
    border-left: none;
    padding: 0.3rem;
  }

  section .section-content-non-list {
    padding-left: 0.25rem;
  }

  section .section-content-non-list .code-keyword-sublist {
    padding-left: 0.5rem;
  }

  section .section-content-non-list .code-keyword-sublist li {
    width: 85%;
  }

  section .subsection {
    padding-left: 0.25rem;
  }

  section .subsection .subsection-content .subsection-content-list {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

  section .code-example-box {
    margin: 0.5rem;
    padding: 0.25rem;
  }
  /*font sizes - change depending on screen size*/

  #logo {
    display: none;
  }
}

/*=============
Print View
===============*/
@media print {
  /*reset colours to plain black and white*/
  body * {
    background-color: none;
    font-size: 12pt;
    text-shadow: none;
  }

  h1,
  h3,
  h5,
  p,
  li,
  code {
    color: black;
  }

  /*font size*/
  h1 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  h5 {
    font-size: 14pt;
  }

  /*remove unneeded elements*/
  #logo,
  nav,
  .backtotop {
    display: none;
  }

  /*Layout - single column*/
  section {
    flex-direction: column;
    padding: 0.3rem;
  }

  section .section-content {
    border-left: none;
  }

  main {
    display: none;
  }
  /*display links from footer*/
  footer a:link {
    margin: 0;
    display: block;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer .link a:link,
  footer .link a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
