/*========================
Declare variables for page
=========================*/
:root {
  /*colour pallette*/
  --page-background-colour: #eef8ff; /*offwhite*/
  --section-background-colour: #424874; /*purple*/
  --navbar-colour: #20a39e; /*seagreen*/
  --border-colour: #fdca40; /*sunshine yellow*/
  --header-text-colour: #eef8ff; /*offwhite*/
  --page-text-colour: #000; /*black*/

  /*font types*/
  --header-font: "Chivo", sans-serif;
  --text-font: "Roboto", sans-serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--page-background, white);
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*reset default font - never shall Time New Roman be seen agan!*/

h1,
h3,
h5,
p,
li {
  font-family: "Trebuchet MS", sans-serif;
}

code {
  font-family: "Courier New", monospace;
}
/*================
Layout
=================*/
body {
  display: flex;
  flex-direction: column;
}

#top {
  margin: 0;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--section-background-colour, purple),
    var(--navbar-colour, teal)
  );
}

nav {
  background-color: var(--navbar-colour, teal);
  padding: 1rem;
  border-bottom: 2px solid black;
}

main {
  background-color: var(--page-background-colour, white);
}

.container {
}

section {
  display: flex;
  margin: 1.75rem 0.75rem;
  background-color: var(--section-background-colour, purple);
}

/*================
Nav Menu Bar
=================*/

nav .nav-bar {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
}

nav .nav-bar .menu-button {
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
/*================
Extra Font Styling
=================*/

#logo {
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding: 1rem;
  margin: 1rem;
  position: absolute;
  left: 0;
}

h1 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
}

h3 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 2rem;
  line-height: 3rem;
}

h5 {
  font-family: var(--header-font, "Trebuchet MS", sans-serif);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

p,
li {
  font-family: var(--text-font, Arial, sans-serif);
  font-size: 1rem;
  line-height: 1.5rem;
}

.mini-header {
  font-weight: bold;
}
/*================
Section Styling
=================*/

section header {
  flex: 1;
  align-self: flex-start;
  color: var(--header-text-colour, white);
  text-shadow: 2px 2px 3px black;
  text-align: center;
  padding: 1rem;
}

section .section-content {
  flex: 3;
  background-color: var(--page-background-colour, white);
  border-left: 0.25rem solid black;
  padding: 1rem;
}

section .section-content-list {
}

section .subsection {
}

section .subsection .subsection-header {
}

section .subsection .subsection-content {
}

section .subsection .subsection-content ul {
}

section .code-example-box {
}

section .code-example-box .comment-code {
}

/*=====
Footer
======*/
footer {
  background: linear-gradient(
    180deg,
    var(--navbar-colour, teal),
    var(--section-background-colour, purple)
  );
  color: var(--header-text-colour, white);
}
/*==========
Link styles
===========*/

/*================
The little touches
=================*/

/*In case of image not found*/

/*Back to top*/

/*=============
Responsiveness
===============*/

/*Media queries for portable screen views - tablets and phones*/

/*margin sizes - change depending on screen size*/

/*header margin*/
/*main margin*/
/*container margin*/
/*section margin*/
/*section header margin*/
/*sub section margin*/
/*sub section header margin*/
/*footer margin*/

/*font sizes - change depending on screen size*/

/*header*/
/*section header*/
/*sub section header*/
/*section text*/
/*footer text*/

/*Media queries for print view*/
